# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF

# IDE support files
/.launch
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
*.iws

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
*.log
/test/reports
/logs

# plugin release file and XML metadata
/*.zip
/plugin.xml

# older plugin install locations
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target
